<div class="check-info" *ngIf="isCheckToBlack"><span>Check!</span></div>

<table>
    <tr>
        <th></th>
        <th *ngFor="let col of x">
            {{ col }}
        </th>
        <th></th>
    </tr>
    <tr *ngFor="let row of y; let i = index;">
        <td>{{ row }}</td>
        <td *ngFor="let td of x; let j = index;" 
                [ngClass]="{'white': isCellWhite(j, i), 'black': !isCellWhite(j, i) }"
                (click)="onCellClick(j, i)">
            <span class="chess-icons" [ngClass]="classNameOfFigure(j, i)"></span>
        </td>
        <td>{{ row }}</td>
    </tr>
    <tr>
        <td></td>
        <td *ngFor="let col of x">
            {{ col }}
        </td>
        <td></td>
    </tr>
</table>

<div class="check-info" *ngIf="isCheckToWhite"><span>Check!</span></div>

<p>{{ msg}}</p>
