<div class="check-info"><span *ngIf="isExistsInfoToBlack">{{ infoToBlack }}</span></div>

<div class="promotion-list" *ngIf="isPromoteWhite">
    <span class="chess-icons" *ngFor="let name of whitePromotionList; let i=index;" 
        [ngClass]="classNameOfPromotion(name, 'white')"
        (click)="onPromotionClick(name, i)"></span>
</div>

<table>
    <tr>
        <th></th>
        <th *ngFor="let col of x">
            {{ col }}
        </th>
        <th>
            <div class="loader" *ngIf="isLoaderVisible"></div>
        </th>
    </tr>
    <tr *ngFor="let row of y; let i = index;">
        <td>{{ row }}</td>
        <td *ngFor="let td of x; let j = index;" 
                [ngClass]="{'white': isCellWhite(j, i), 'black': !isCellWhite(j, i) }"
                (click)="onCellClick(j, i)">
            <span class="chess-icons" [ngClass]="classNameOfFigure(j, i)"></span>
        </td>
        <td>{{ row }}</td>
    </tr>
    <tr>
        <td></td>
        <td *ngFor="let col of x">
            {{ col }}
        </td>
        <td></td>
    </tr>
</table>

<div class="promotion-list promotion-black" *ngIf="isPromoteBlack">
    <span class="chess-icons" *ngFor="let name of blackPromotionList; let i=index;" 
        [ngClass]="classNameOfPromotion(name, 'black')"
        (click)="onPromotionClick(name, i)"></span>
</div>

<div class="check-info"><span *ngIf="isExistsInfoToWhite">{{ infoToWhite }}</span></div>

<p>{{ msg}}</p>
