<div class="container">
    <div class="row">
        <div class="col">
            <div class="check-info">
                &nbsp;
                <span *ngIf="isExistsInfoToBlack">{{ infoToBlack }}</span>
                <button type="button" class="btn btn-primary btn-sm btn-resign" 
                    (click)="onResignClick('black')" [disabled]="isGameEnded || isBlackResignDisabled">
                    Resign
                </button>
            </div>

            <div class="promotion-list" *ngIf="isPromoteWhite">
                <span class="chess-icons" *ngFor="let name of whitePromotionList; let i=index;" 
                    [ngClass]="classNameOfPromotion(name, 'white')"
                    (click)="onPromotionClick(name, i)"></span>
            </div>

            <table>
                <tr>
                    <th></th>
                    <th *ngFor="let col of x">
                        {{ col }}
                    </th>
                    <th>
                        <div class="loader" *ngIf="isLoaderVisible"></div>
                    </th>
                </tr>
                <tr *ngFor="let row of y; let i = index;">
                    <td>{{ row }}</td>
                    <td *ngFor="let td of x; let j = index;" 
                            [ngClass]="{'white': isCellWhite(j, i), 'black': !isCellWhite(j, i) }"
                            (click)="onCellClick(j, i)">
                        <span class="chess-icons" [ngClass]="classNameOfFigure(j, i)"></span>
                    </td>
                    <td>{{ row }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td *ngFor="let col of x">
                        {{ col }}
                    </td>
                    <td></td>
                </tr>
            </table>

            <div class="promotion-list promotion-black" *ngIf="isPromoteBlack">
                <span class="chess-icons" *ngFor="let name of blackPromotionList; let i=index;" 
                    [ngClass]="classNameOfPromotion(name, 'black')"
                    (click)="onPromotionClick(name, i)"></span>
            </div>

            <div class="check-info">
                &nbsp;
                <span *ngIf="isExistsInfoToWhite">{{ infoToWhite }}</span>
                <button type="button" class="btn btn-primary btn-sm btn-resign" 
                    (click)="onResignClick('white')" [disabled]="isGameEnded || isWhiteResignDisabled">
                    Resign
                </button>
            </div>

            <p>{{ msg}}</p>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="singlePlayer" autocomplete="off" checked 
                            (change)="gameModeChange($event)" [disabled]="isStarted || isPlayerModeSelectionDisabled">
                        <label class="btn btn-outline-primary" for="singlePlayer">Single player</label>
                      
                        <input type="radio" class="btn-check" name="btnradio" id="multiPlayer" autocomplete="off" 
                            (change)="gameModeChange($event)" [disabled]="isStarted || isPlayerModeSelectionDisabled">
                        <label class="btn btn-outline-primary" for="multiPlayer">Multi player</label>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="isMultiPlayer">
                <div class="col">
                    <div class="card" *ngIf="!isMultiplayerCreateOptionsDisabled">
                        <div class="card-body">
                            <div class="input-group" *ngIf="!isRoomCreated">
                                <input type="text" class="form-control" placeholder="Name of Room" aria-label="Room" 
                                    aria-describedby="button-create" [(ngModel)]="roomNameForCreate" />
                                <button class="btn btn-outline-secondary" type="button" id="button-create"
                                    (click)="onCreateGameClick()" >
                                    Create Game
                                </button>
                            </div>   
                            <span>
                                Local gamer: <b>white</b>, 
                                Remote gamer: <b>black</b> 
                                - 
                                <span style="color: red;" *ngIf="!isBlackGamerJoined">offline</span>
                                <span style="color: green;" *ngIf="isBlackGamerJoined">online</span>
                            </span>
                            <br />
                            <span class="multiplayer-info" *ngIf="isRoomCreated">
                                Room: {{ roomNameForCreate }}, PIN: {{ PINForJoin }}
                            </span>                         
                        </div>
                    </div>

                    <div class="card" *ngIf="!isMultiplayerJoinOptionsDisabled">
                        <div class="card-body">
                            <div *ngIf="!(isStarted || isJoinDisabled)">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Name of Room" [(ngModel)]="roomNameForJoin" />
                                    <input type="text" class="form-control" placeholder="PIN for Room" [(ngModel)]="PINForJoin" mask="0000" />
                                </div>
                                <button class="btn btn-outline-secondary btn-join" type="button" id="button-join-gamer"
                                    (click)="onJoinAsGamerClick()" >
                                    Join as Gamer
                                </button>
                                <button class="btn btn-outline-secondary btn-join" type="button" id="button-join-viwer"
                                    (click)="onJoinAsViewerClick()" >
                                    Join as Viwer
                                </button>
                            </div>

                            <div *ngIf="isStarted || isViewerJoined">
                                <span>
                                    Local gamer: <b>{{ isViewerJoined ? '-': 'black' }}</b>, 
                                    Remote gamer: <b>{{ isViewerJoined ? 'white, black': 'white' }}</b> 
                                </span>
                                <br />
                                <span *ngIf="!isStarted && isViewerJoined" style="color: red;">
                                    We are waiting for the black player to join...
                                </span>
                                <br />
                                <span class="multiplayer-info">
                                    Room: {{ roomNameForJoin }}, PIN: {{ PINForJoin }}
                                </span>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
