table { border-collapse: collapse; }
td, th { border: 1px solid lightgray; width: 3em; height: 3em; max-width: 3rem; max-height: 3rem; 
    text-align: center; vertical-align: middle; font-weight: bold; }
td.white { background-color: #ffaa80; }
td.black { background-color: #cc4400; }

span.chess-icons { display: block; width: 95%; height: 95%; background-size: contain; background-repeat: no-repeat; }

span.chess-icons.white.rook { background-image: url('../../assets/img/Chess_rlt45.svg'); }
span.chess-icons.white.knight { background-image: url('../../assets/img/Chess_nlt45.svg'); }
span.chess-icons.white.bishop { background-image: url('../../assets/img/Chess_blt45.svg'); }
span.chess-icons.white.queen { background-image: url('../../assets/img/Chess_qlt45.svg'); }
span.chess-icons.white.king { background-image: url('../../assets/img/Chess_klt45.svg'); }
span.chess-icons.white.pawn { background-image: url('../../assets/img/Chess_plt45.svg'); }

span.chess-icons.black.rook { background-image: url('../../assets/img/Chess_rdt45.svg'); }
span.chess-icons.black.knight { background-image: url('../../assets/img/Chess_ndt45.svg'); }
span.chess-icons.black.bishop { background-image: url('../../assets/img/Chess_bdt45.svg'); }
span.chess-icons.black.queen { background-image: url('../../assets/img/Chess_qdt45.svg'); }
span.chess-icons.black.king { background-image: url('../../assets/img/Chess_kdt45.svg'); }
span.chess-icons.black.pawn { background-image: url('../../assets/img/Chess_pdt45.svg'); }

div.check-info { color: red; font-weight: bold; font-size: 14px; width: 30rem; max-width: 100%; text-align: right; }
.btn-resign { margin: 5px; }
.btn-join { margin-top: 10px; margin-right: 10px; }
.multiplayer-info { margin: 10px; font-weight: bold; }
.gamer-info { float: right; font-size: 16px; font-weight: bold; }

.promotion-list { position: absolute; background-color: bisque; }
.promotion-black { position: relative; top: -50px; display: inline-block; }
.promotion-list span.chess-icons { display: inline-block; margin-right: 20px; }

.steps, .chat { height: 20rem; overflow-y: auto; }
span.chess-icons.s16 { display: inline-block; width: 20px; height: 20px; background-size: contain; }

.chat .chat-message { display: block; float: right; text-align: right; clear: both; margin-left: 30px; margin-right: 0px; }
.chat .chat-message.left { float: left; text-align: left; margin-left: 0px; margin-right: 30px; }
.chat .chat-message .name { margin-left: 10px; font-weight: bold; }
.chat .chat-message .viewer-icon { font-weight: bold; }
.chat .chat-message .msg { border: solid 1px gray; background-color: #f2f2f2; border-radius: 5px; }
.chat .chat-message.left .msg { border: solid 1px darkblue; background-color: #b3c6ff; color: darkblue; }

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }