table { border-collapse: collapse; }
td, th { border: 1px solid lightgray; width: 3rem; height: 3rem; 
    text-align: center; vertical-align: middle; font-weight: bold; }
td.white { background-color: #ffaa80; }
td.black { background-color: #cc4400; }